.default {
    cursor: pointer;
    background: yellow;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 30px;
}

.red {
    background: red;
}

.default:disabled {
    background: white;
    color: mediumslateblue;
}
